<footer>
    <div class="footer-content">
        <img src="../img/Logo_text_white.png" alt="">
        <div class="footer-nav">
            <div class="footer-nav-label">
                <h2>Label</h2>
                <ul>
                <!-- <li><a href="../index.html">Home</a></li>
                <li><a href="../index.html#Artists">Artists</a></li>
                <li><a href="../index.html#new_releases">New Releases</a></li>
                <li><a href="../index.html#tour_dates">Tour Dates</a></li>
                <li><a href="../index.html#about">About us</a></li> -->
                <li><a href="#">Store</a></li>
                <li><a href="#">Store</a></li>
                </ul>
            </div>
            <div class="footer-nav-info">
                <h2>Information</h2>
                <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Lore</a></li>
                </ul>
            </div>
            <div class="footer-nav-social">
                <p>The Flenser is a dark music record label. Nowflensing is the webstore for The Flenser.</p>
                <ul >
                <li><a href="#"><img src="../img/socials/discord_alt_1.svg" alt=""></a></li>
                <li><a href="#"><img src="../img/socials/facebook_1.svg" alt=""></a></li>
                <li><a href="#"><img src="../img/socials/instagram_1.svg" alt=""></a></li>
                <li><a href="#"><img src="../img/socials/tiktok_1.svg" alt=""></a></li>
                <li><a href="#"><img src="../img/socials/spotify_1.svg" alt=""></a></li>
                <li><a href="#"><img src="../img/socials/twitter_original_1.svg" alt=""></a></li>
                <li><a href="#"><img src="../img/socials/youtube_1.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div> 
</footer>