* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

body {
  display: flex;
  padding: 0 64px 0px 64px;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  font-family: switzer;
}

h1{
  color:#1C1A17;
  font-family: "Instrument Serif";
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.Hero {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  position: relative;
  gap: 42px;
  flex-direction: column;
}

.logo-placeholder {
  position: absolute;
  top: 16px;
  left: 64px;
  z-index: 10;
}

nav {
  position: absolute;
  top: 16px;
  right: 64px;
  z-index: 10;
}

.Hero-main {
  width: 100%;
  height: 100%;
  overflow: hidden; 
  position: relative; 
  transition: transform 0.5s ease-in-out;
}
.carousel_hero { 
  display: flex; 
}
.carousel_slide { 
  flex: 0 0 100%;
}
.carousel_slide img{ 
  width: 100%; 
  height: auto;
}

.logo {
  width: 150px;
  height: auto;
}

.artist_list {
  color:#1C1A17;
  font-family: switzer;
  font-size: 80px;
  font-weight: 500;
  line-height: 99%;
  letter-spacing: -1.6px;
}

.card_artist_big {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card_artist_big_img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  object-fit: fill;
  align-self: stretch;
  aspect-ratio: 1/1;
  width: 100%;
  overflow: hidden;
  object-fit : fill;
}

.card_artist_big_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_artist_big_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card_artist_big_style {
  display: flex;
  padding: 3px 7px;
  align-items: flex-start;
  border-radius: 6px;
  border: 1px solid #F9F5E6;
  background:  #1C1A17;
  color:  #F9F5E6;
  font-family: Switzer;
  font-size: 14px;
  line-height: 21px;
  width: fit-content;
}

.card_artist_big_title {
  color: #1C1A17;
  font-family: "Instrument Serif";
  font-size: 24px;
  font-style: normal;
  line-height: 25.2px;
  letter-spacing: -0.36px;
}

.card_artist_big_description {
  overflow: hidden;
  color:#1C1A17;
  text-overflow: ellipsis;
  font-family: "switzer";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card_artist_small{
  display: flex;
  height: auto;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 0;
}

.card_artist_small_img {
  height: 342px;
  align-self: stretch;
}
.card_artist_small_content {
  display: flex;
  padding-top: 8px;
  flex-direction: column;
  gap: 6px;
  align-self: stretch;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card_artist_small_title {
  color:#1C1A17;
  font-family: "Instrument Serif";
  font-size: 16px;
  font-weight: 400;
}

.card_artist_small_description {
  font-size: 20px;
  width: 100%;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.new_releases_grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 42px 32px;
  align-self: stretch;
  flex-wrap: wrap;
}

.new_releases_small{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 32px;
}

.about_content {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.about_text {
  color: #1C1A17;
  font-family: Switzer;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

footer{

  border-radius: 24px;
  background:#1C1A17;
  color: #F9F5E6;
}

.footer-content {
  display: flex;
  padding: 38px 16px;
  gap: 10px;
}

.footer-nav {
  display: flex;
  
  align-items: flex-start;
  gap: 80px;
  flex: 1 0 0;
}

.footer-content img {
  width: 352px;
  align-self: stretch;
}

.footer-nav-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}

.footer-nav-label h2 {
  font-family: Switzer;
  font-size: 24px;
  font-weight: 500;
}

.footer-nav-label ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  list-style: none;
}

.footer-nav-info {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 36px;
}

.footer-nav-info h2 {
  font-family: Switzer;
  font-size: 24px;
  font-weight: 500;
}

.footer-nav-info ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  list-style: none;
}

.footer-nav-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer-nav-social ul {
  display: flex;
  gap: 12px;
  justify-content: end;
  align-self: stretch;
  list-style: none;
}

.footer-nav-social ul li img {
  height: 24px;
  width: 24px;
}

.footer-nav-social ul li {
  cursor: pointer;
  display: block;
}

/* PAGE ARTIST */

.artist-presentation{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.artist-tittle{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}
.big-artist{
  font-size: 184.152px;
}
.artist-description{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.artist-text{
   width: 527px;
}
.artist-albums{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
  align-self: stretch;
}
