* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

body {
  display: flex;
  padding: 0 64px 24px 64px;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  font-family: switzer;
}

h1{
  color:#1C1A17;
  font-family: "Instrument Serif";
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.Hero {
  display: flex;
  padding: 16px 64px;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.logo {
  width: 150px;
  height: auto;
}

.artist_list {
  color:#1C1A17;
  font-family: switzer;
  font-size: 80px;
  font-weight: 500;
  line-height: 99%;
  letter-spacing: -1.6px;
}

.card_artist_big {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.card_artist_big_img {
  height: 676px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  aspect-ratio: 1/1;
}

.card_artist_big_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card_artist_big_style {
  display: flex;
  padding: 3px 7px;
  align-items: flex-start;
  border-radius: 6px;
  border: 1px solid #F9F5E6;
  background:  #1C1A17;
  color:  #F9F5E6;
  font-family: neue Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.card_artist_big_title {
  color: #1C1A17;
  font-family: "Instrument Serif";
  font-size: 24px;
  font-style: normal;
  line-height: 25.2px; /* 105% */
  letter-spacing: -0.36px;
}

.card_artist_big_description {
  overflow: hidden;
  color:#1C1A17;
  text-overflow: ellipsis;
  font-family: "switzer";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card_artist_small{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

.card_artist_small_img {
  height: 342px;
  align-self: stretch;
}
.card_artist_small_content {
  display: flex;
  padding-top: 8px;
  flex-direction: column;
  gap: 6px;
  align-self: stretch;
}

.card_artist_small_title {
  color:#1C1A17;
  font-family: "Instrument Serif";
  font-size: 16px;
  font-weight: 400;
}

.card_artist_small_description {
  overflow: hidden;
  color:#1C1A17;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Switzer;
  font-size: 20px;
  font-weight: 400;
}

.new_releases_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 42px 32px;
  align-self: stretch;
  flex-wrap: wrap;
}

.new_releases-small{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 32px;
  flex-wrap: wrap;

}

.about_content {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.about_text {
  color: #1C1A17;
  font-family: Switzer;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

footer{
  border-radius: 24px;
  background:#1C1A17;
  color: #F9F5E6;
}

.footer-content {
  display: flex;
  padding: 38px 16px;
  gap: 10px;
}

.footer-nav {
  display: flex;
  
  align-items: flex-start;
  gap: 80px;
  flex: 1 0 0;
}

.footer-content img {
  width: 352px;
  align-self: stretch;
}

.footer-nav-label {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 36px;
}

.footer-nav-label h2 {
  font-family: Switzer;
  font-size: 24px;
  font-weight: 500;
}

.footer-nav-label ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  list-style: none;
}

.footer-nav-info {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 36px;
}

.footer-nav-info h2 {
  font-family: Switzer;
  font-size: 24px;
  font-weight: 500;
}

.footer-nav-info ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  list-style: none;
}

.footer-nav-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer-nav-social ul {
  display: flex;
  gap: 12px;
  justify-content: end;
  align-self: stretch;
  list-style: none;
}

.footer-nav-social ul li img {
  height: 24px;
  width: 24px;
}

.footer-nav-social ul li {
  cursor: pointer;
  display: block;
}