* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

body {
  display: flex;
  padding: 0 64px 24px 64px;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.Hero {
  display: flex;
  padding: 16px 64px;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.logo {
  width: 150px;
  height: auto;
}

.artist_list {
  color:#1C1A17;
  font-family: switzer;
  font-size: 80px;
  font-weight: 500;
  line-height: 99%;
  letter-spacing: -1.6px;
}
.card_artist_big {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.card_artist_big_img {
  height: 676px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  aspect-ratio: 1/1;
}
.card_artist_big_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card_artist_big_style {
  display: flex;
  padding: 3px 7px;
  align-items: flex-start;
  border-radius: 6px;
  border: 1px solid #F9F5E6;
  background:  #1C1A17;
  color:  #F9F5E6;
  font-family: neue Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.about_content {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.about_text {
  color: #1C1A17;
  font-family: Switzer;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}